<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Emailer')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-wysiwyg.css'))
            ->prependStylesheet($this->basePath('css/font-awesome.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/email.js'))
            ->prependFile($this->basePath('js/wysiwyg/bootstrap-wysiwyg-init.js'))
            ->prependFile($this->basePath('js/wysiwyg/bootstrap-wysiwyg.js'))
            ->prependFile($this->basePath('js/jquery.hotkeys.min.js'))
            ->prependFile($this->basePath('js/jquery.fileupload-image.js'))
            ->prependFile($this->basePath('js/jquery.fileupload-process.js'))
            ->prependFile($this->basePath('js/jquery.fileupload-ui.js'))
            ->prependFile($this->basePath('js/jquery.fileupload.js'))
            ->prependFile($this->basePath('js/bootbox.min.js'))
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-ui.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
    </head>
    <body>
        <div class="container">
            <?= $this->content ?>
            <hr>
            <footer>
                <p>&copy; Pastmo, Paweł Rymsza</p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
