<div class="row">

    <form data-url="<?php echo $this->url('application', ['action' => 'send_email']); ?>">
	<div class="col-md-12">
	    <div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">Adresses and Subject</h3>
		</div>
		<div class="panel-body">
		    <label class="col-md-1">From</label>
		    <div class="col-md-11">
			<input class="form-control" name="from" value='"Kontakt" <kontakt@pastmo.pl>'>
		    </div>
		    <label class="col-md-1">To</label>
		    <div class="col-md-11">
			<input class="form-control clean_after_send" name="to" placeholder='e.g. "Customer1"<some@company.com>,"Customer2"<other@company.de>'>
		    </div>
		    <label class="col-md-1">Subject</label>
		    <div class="col-md-11">
			<input class="form-control clean_after_send" name="title">
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-12">
	    <div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">Content</h3>
		</div>
		<div class="panel-body">
		    <p>

		    <div class="controls">
			<input id="newMessageContent" type="hidden" class="clean_after_send"  name="content" value="">
			<?php echo $this->addWysiwyg(); ?>
		    </div>
		    <p>
			<button id="send_mail" type="button" class="btn btn-success pull-right">Send</button>
		    </p>
		</div>
	    </div>
	</div>
    </form>

</div>
